
# Scene files (Universal File Format)
scene.uff
header_scene.uff
size_dists_1_scene.uff

# Produced NetCDF files
extracted/

# Direclty produced image files
PS/
PNG/

# Folder with data
satellite_*/

# Temp files
*.swp
